:root {
    --prim-font: 'Montserrat', sans-serif;
    --sec-font: 'Quicksand', sans-serif;
    --primary-color: #33485f;
    --secondary-color: #69ebb8;
    --accent-color: #007d51;
    background: var(--primary-color);
    word-spacing: 10px;
    scroll-behavior: smooth;
}

.head {
    color: var(--secondary-color);
    font-family: var(--prim-font);
    font-size: 2.5rem;
    text-align: right;
}

.home:hover {
    text-decoration: underline 2px;
}

.projects:hover {
    text-decoration: underline 2px;
}

.contact:hover {
    text-decoration: underline 2px;
}

a {
    color: var(--secondary-color);
    font-family: var(--prim-font);
    font-size: 3.125rem;
    text-decoration: none;
}

h1 {
    color: var(--secondary-color);
    font-family: var(--prim-font);
    font-size: 2.5rem;
    text-align: center;
    margin-top: 5rem;
}

p {
    color: var(--secondary-color);
    font-family: var(--prim-font);
    font-size: 2.1875rem;
    text-align: center;
}