@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Source+Sans+Pro:wght@200&display=swap');

:root {
    --prim-clr: #845ec2;
    --sec-clr: #ba3caf;
    --accent-clr: #d73222;
    --prim-font: 'Montserrat', sans-serif;
    --sec-font: 'Source Sans Pro', sans-serif;
    --gradient-percent: 0%;
}




body {
    position: relative;
    text-align: center;
    background: linear-gradient(90deg, var(--prim-clr), var(--sec-clr), var(--accent-clr));
    color: black;
}




h1 {
    font-family: var(--prim-font);
    text-align: center;
}

p {
    font-family: var(--sec-font);
    text-align: center;
}

/* style the nav-container class and the links in them so it acts like a drop down menu*/
.nav-container {
    position: relative;
    text-align: center;
}

.nav-container a {
    font-family: var(--prim-font);
    text-align: center;
    padding: 0.25em 1em;
    background: whitesmoke;
    color: black;
    font-weight: 400;
    text-decoration: none;
    border-radius: 0.25em;
    transition: all 0.25s ease-in-out;
    border: 1px solid transparent;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    -o-border-radius: 0.25em;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}